body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: center;
    background-color: #333;
    color: white;
}

h1{
    margin-bottom: 20px;
}

#pongCanvas{
    background: #000;
    border: 3px white;
}

#ResetButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3;;
}

#resetButton:hover {
    background-color: #45a049;
}

